# Compiled class file
*.class

# Intellij
.idea
*.iml

# Intellij artifact output:
out/*
# Intellij compiler output:
output/*

# Gradle
.gradle/
# Gradle output
build/

#Apple OS X operating System
.DS_Store